.select {
  width: clamp(150px, 80vw, 400px);
}
.fullwidth {
  width: 100%;
}
.textCenter {
  text-align: center;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
.section {
  margin: var(--base) 0;
  display: grid;
  gap: var(--base);
}
.xScroll {
  overflow-x: scroll;
}
.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btnGroup {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1rem;
  width: 100%;
}
.importBtn {
  flex: 1;
  padding: 0.75rem 1rem;
  margin: 0;
}

.checkboxlabel {
  background-color: var(--baclg);
  padding-left: calc(var(--base) / 2);
  border: 0;
  cursor: pointer;
}
