.cardContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:var(--base);
  width: 100%;
  flex-wrap: wrap;
}

.hidden {
  visibility: hidden;
}

.exportButton{
    height: 4rem;
    margin-top: auto;
    margin-bottom: 6px;
}

